/*Estilos para el buscador*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #b5b5b5;
    color: #ecf0f1;
}

#containerLoggin {
    background-color: #141414;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    text-align: center;
    margin-top: 75px;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Sixtyfour', sans-serif;
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

#logginControls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    background-color: #6d6d6d;
    color: #fff;
    padding: 10px 20px;
    font-size: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


/* REPRODUCTOR STYLES */

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1px;
    font-family: 'Titillium Web', sans-serif;
    background: linear-gradient(45deg, #ff69b4, #d843af, #e91e63, #ff8c00);
    position: relative;
}

#logoContainer {
    grid-column: 1 / span 2;
    height: 50px;
    /* top | right | bottom | left */
    padding: 25px 0 0 25px;
}

#logoContainer img {
    height: 100%;
    width: auto;
}

.containerLeft {
    grid-area: 2 / 1 / span 3 / span 1;
    margin: 0 5px 25px 25px;
    position: relative;
}

.containerRight {
    grid-area: 2 / 2 / span 3 / span 1; 
    margin: 0 25px 25px 5px;
    position: relative;
}

#mySearch {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#mySearch__tittle label {
    font-size: 25px; 
    color: #f4557a;
  }

#button__search {
    height: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: medium;
}

/*Estilo contenedor busqueda*/

#search {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 0;
}

.titleSearchResults {
    font-size: 20px;
    color: #e7209e;
}

div.SearchResultsList {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border-width: 5px;
    height: 115px;
    border-style: groove;
    border-color: gray;
    overflow-y: scroll;
}

.li_SearchResult_Group {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 7px;
}

.li_SearchResult_Group button {
    background-color: #1e1e1e;
    border: none;
    color: #fff;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 17px;
}

.li_SearchResult_Group button:hover {
    color: #e7209e;
}

div.titleSearchResults,
div.SearchResultsList,
ul.SearchResult {
    text-align: justify;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}

li.li_SearchResult {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.SearchResultsList {
    margin: 0;
    padding: 0;
    border-radius: 8px;
    border-width: 3px;
    border-style: groove;
    border-color: gray;
    max-height: 115px;
    overflow-y: auto;
    scrollbar-color: #e7209e #1e1e1e;
}

/*Estilos PlayList*/

#playlist {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 0;
}

.titleMyPlaylist {
    font-size: 20px;
    color: #e67409;
}

div.MyPlaylistdiv {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border-width: 5px;
    border-style: groove;
    border-color: gray;
    overflow-y: scroll;
    height: 115px;
}

.li_MyPlaylist_Group {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 7px;
}

.li_MyPlaylist_Group button {
    background-color: #1e1e1e;
    border: none;
    color: #fff;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 17px;
}

.li_MyPlaylist_Group button:hover {
    color: #e67409;
}

div.titleMyPlaylist,
div.MyPlaylistdiv,
ul.MyPlaylist {
    text-align: justify;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}
li.li_MyPlaylist {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.MyPlaylistdiv {
    margin: 0;
    padding: 0;
    border-radius: 8px;
    border-width: 5px;
    border-style: groove;
    border-color: gray;
    max-height: 140px;
    overflow-y: auto;
    scrollbar-color: #e67409 #1e1e1e;
}

/*Estilos FavList*/

#fav {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 0;
}

.titleFavList {
    font-size: 20px;
    color: #aaf30b;
    margin-left: 15px;
}

div.favListdiv {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border-width: 5px;
    height: 115px;
    border-style: groove;
    border-color: gray;
    overflow-y: scroll;
}

.li_favslist_Group {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 7px;
}

.li_favslist_Group button {
    background-color: #1e1e1e;
    border: none;
    color: #fff;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 17px;
}

.li_favslist_Group button:hover {
    color: #aaf30b;
}

div.titleFavList,
div.favListdiv,
ul.myFavs {
    text-align: justify;
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

li.li_MyFavslist {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.favListdiv {
    margin: 0;
    padding: 0;
    border-radius: 8px;
    border-width: 5px;
    border-style: groove;
    border-color: gray;
    max-height: 140px;
    overflow-y: auto;
    scrollbar-color: #aaf30b #1e1e1e;
}

/*Estilos containerRight*/

#containerRight {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    margin-top: 15px;
    color: #fff;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cover{
    width: 375px;
    height: 375px;
    object-fit: cover;
    position: relative;
}

#cover{
    z-index: 2;
}

#backgroundImage {
    width: 425px;
    height: 425px;
    object-fit: contain;
    position: absolute;
    top: 10px;
    right: 2%;
    z-index: 1; 
}

#detailsSong{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infoSong {
    margin-top: 10px;
}

.infoSong label {
    display: block;
    margin-bottom: 10px;
    text-align: justify;
}
.infoSong#detailsPerSong{
    color: #00eaff;
    margin-left: 10px;
    text-align: justify;
}
#controls {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#controls button {
    background-color: #1e1e1e;
    border: none;
    color: #fff;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#controls button:hover {
    color: #00eaff;
}

#containerLeft {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 5px;
    margin-top: 15px;
    color: #fff;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

#mute {
    background-color: #1e1e1e;
    border: none;
    color: #fff;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#mute:hover, #mute.active {
    color: #00eaff;
}

#pause{
    display: none;
}
