/*Estilos para el buscador*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #b5b5b5;
    color: #ecf0f1;
}

#containerLoggin {
    background-color: #141414;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    text-align: center;
    margin-top: 75px;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Sixtyfour', sans-serif;
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

#logginControls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    background-color: #6d6d6d;
    color: #fff;
    padding: 10px 20px;
    font-size: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


/* REPRODUCTOR STYLES */

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 112px;
}

.containerLeft {
    grid-area: 1 / 1 / span 3 / span 1;
}

.containerRight {
    grid-area: 1 / 2 / span 3 / span 1;
}

#containerLeft{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    /* padding-right: 56px; */
}

#mySearch{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#button__search{
    height: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: medium;
}

/*Estilos containerRight*/

#containerRight {
    background-color: #000000;
    border-radius: 8px;
    padding: 20px;
    margin-top: 15px;
    color: #fff;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

#cover {
    max-width: 375px; 
    max-height: 375px;
    width: 100%; 
    height: auto;
    margin: 0 auto;
}

#infoSong {
    margin-top: 10px;
}

#infoSong label {
    display: block;
    margin-bottom: 10px;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#controls button {
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#controls button:hover {
    color: gray;
}

